body {
    text-align: center;
}

form {
    width: 200px;
    border: 1px black;
    text-align: center;
    border: solid black;
    margin: 50px auto;
    padding: 25px;
    width: 500px;
}

form input {
    font-size: 25px;

}

.productHeader {
    display: flex;
    flex-direction: row;
    /*background: black;*/
    justify-content: center;
    align-items: center;
    height: 145px;
    margin-right: 30em;
    margin-left: 30em;
}

input {
    border: none;
    border-bottom: 2px solid black;
    margin: 0.5em;
}


#mainNav {
    display: flex;
    flex-direction: row;
    /*background: black;*/
    justify-content: space-around;
    align-items: center;
    height: 145px;
}


nav a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    height: auto;
    display: flex;
    border: solid black;
    background: black;
    padding: 12px;
    transition: all 0.5s;

}

nav a:hover {
    box-shadow: 5px 5px 5px 5px gray;
    transform: scale(1.1);
    border-radius: 25px;
}

#container {
    margin-bottom: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container h3, #container p {
    margin: 0;
}

.flex1 {
    display: initial;
    padding: 12px;

}

.flex1 span {
    text-align: right;
}


#calories::-webkit-progress-bar {
    background: white;
    border: 2px solid black;
}

#calories::-webkit-progress-value {
    background: black;
}

#fat::-webkit-progress-bar {
    background: white;
    border: 2px solid darkgray;
}

#fat::-webkit-progress-value {
    background: darkgray;
}

#protein::-webkit-progress-bar {
    background: white;
    border: 2px solid gray;
}

#protein::-webkit-progress-value {
    background: gray;
}

#carbohydrates::-webkit-progress-bar {
    background: white;
    border: 2px solid lightgray;
}

#carbohydrates::-webkit-progress-value {
    background: lightgray;
}

.error {
    color: red;
    font-size: 2em;
}

.validationError {
    color: red;
    font-size: 1em;
}

.calories {
    margin-left: auto;
    margin-right: auto;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*!*background: black;*!*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*height: 145px;*/
}

progress {
    background: aliceblue;
    display: block;
    margin: auto;

}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.ok td {
    border: none;
}

table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}


h1 {
    font-size: 2em;
    align-items: center;
    font-family: "Courier New", monospace;

}

.data p {
    font-family: "Courier New", monospace;
}


#blok {
    position: relative;
    /*float:left;*/
    /*font-size:1.8em;*/
    font-family: "Courier New", monospace;
    background-color: white;
}

#blok > span {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    border-left: 1px solid transparent;
    animation: pisz 10s steps(25, start) infinite, znak 1s step-end infinite;
    -webkit-animation: pisz 10s steps(25, start) infinite, znak 1s step-end infinite; /* dla Google Chrome, Safari, Opera 15+ */
}

#blok > p:hover {
    animation-play-state: paused;
}


/* ------------ANIMACJE------------ */
@keyframes pisz {
    0% {
        width: 70%;
    }
    100% {
        width: 34%;
    }
}

@keyframes znak {
    0% {
        border-left-color: transparent;
    }
    50% {
        border-left-color: black;
    }
    100% {
        border-left-color: transparent;
    }
}

/* dla Google Chrome, Safari, Opera 15+ */
@-webkit-keyframes pisz {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@-webkit-keyframes znak {
    0% {
        border-left-color: transparent;
    }
    50% {
        border-left-color: black;
    }
    100% {
        border-left-color: transparent;
    }
}

/*.settings {*/
/*    border: 10px;*/
/*    background: black;*/
/*    color: black;*/
/*}*/

.settings{
    border: 10px;
    background: white;
    border: 3px solid black;
    background: linear-gradient(to left, black, gray);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
