<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header.html</title>
    <link rel="stylesheet" href="style.css">
</head>
<body th:fragment="header">
<nav id="mainNav">

    <a th:href="@{/}">Home</a>
<!--    <a th:if="${#session.getAttribute('logStatus')} == true" th:href="@{/product}">Product</a>-->
    <!--    <a th:if="${session.isEmpty()}" th:href="@{/login}">Log In</a>-->
        <a th:if="${!session.isEmpty()}" th:href="@{/product}">Product</a>
    <a th:if="${#session.getAttribute('logStatus')} == true" th:href="@{/login}">Log In</a>
    <a th:if="${#session.getAttribute('logStatus')} == null" th:href="@{/login}">Log In</a>
    <a th:unless="!${#session.getAttribute('logStatus')} == true" th:href="@{/log-out}">Log Out</a>
    <a class="settings" th:if="${!session.isEmpty()}" th:href="@{/settings}">Settings</a>
    <a th:if="!${#session.getAttribute('logStatus')} == true" th:href="@{/sign-up}">Sign up</a>
    <!--    <a th:unless="${session.isEmpty()}" th:href="@{/log-out}">Log Out</a>-->


</nav>
</body>
</html>