<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello!!!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!--<div th:replace="~{fragments/header::header}"></div>-->
<h1>Hello!!!</h1>
<div id="blok">Add your age, weight and height to compute your BMR<span></span></div>


<form class="data" method="POST" th:action="@{/firstLoggedIn}" th:object="${user}">
    <p>AGE<input th:unless="!*{age} == '0'" type="text" placeholder="age" th:name="age">
    <p>HEIGHT<input th:unless="!*{height} == '0'" type="text" placeholder="height" th:name="height"><br>
    <p>WEIGHT<input th:unless="!*{weight} == '0'" type="text" placeholder="weight" th:name="weight"><br>
        <input  type="submit" value="SAVE">
    <a th:href="@{/}">Skip</a>

</form>
</body>
</html>