<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="style.css">
    <script src="my.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>

<div th:if="${!session.isEmpty()}" id="container">
    <div class="chart-container" style="position: relative; height:30vh; width:30vw">
        <canvas id="myChart"></canvas>
    </div>
    <progress id="fat" th:value="${fatPercentage}" name="fat" th:max="100" style="display: none"></progress>
    <progress id="protein" th:value="${protPercentage}" max="100" name="protein" style="display: none"></progress>
    <progress id="carbohydrates" th:value="${carbPercentage}" max="100" name="carbohydrates" style="display: none"></progress>

    <div>
        <span th:if="!${dates.isEmpty()}">
        <form th:action="@{/}" th:method="post" th:object="${data}">
            <select th:field="*{local}">
                <option value="sss" selected >Choose date</option>
                <option th:each="date:${dates}"
                        th:text="${date}"
                        th:value="${date}">
                </option>
            </select>
            <input type="submit" th:value="choose">
        </form>
        </span>

        <table>
            <thead>
            <tr>
                <th colspan="1">Id</th>
                <th colspan="1">name</th>
                <th colspan="1">kcal</th>
                <th colspan="1">Fat</th>
                <th colspan="1">carbohydrates</th>
                <th colspan="1">protein</th>
                <th colspan="1">Delete</th>
            </tr>

            </thead>


            <div class="checkbox">
            <span th:if="!${mealList.isEmpty()}">

            <tr th:each="meal:${mealList}">

                <td th:text="${meal.mealid}">The table body</td>
                <td th:text="${meal.product.name}">The table body</td>
                <td th:text="${meal.product.kcal}">The table body</td>
                <td th:text="${meal.product.fat}">The table body</td>
                <td th:text="${meal.product.carbohydrates}">The table body</td>
                <td th:text="${meal.product.protein}">The table body</td>
                                <form method="post" th:object="${meal}" th:action="@{/deleteMeal}">
                                <input type="hidden" th:value="*{mealid}" name="mealid"/>
                                    <td><input type="submit" value="DELETE"></td>
                                 </form>
                </tr>

                </span>
            </div>
        </table>
        <h1 th:unless="!${mealList.isEmpty()}">List is empty</h1>
    </div>
</div>

<!--    <form action="#" th:action="@{/addUser}" th:object="${user}" method="post">-->
<!--        <label for="name">Name</label>-->
<!--        <input type="text" th:field="*{name}" id="name" placeholder="Name">-->
<!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
<!--        <input type="submit" value="Add User">-->
<!--    </form>-->
</body>
</html>