<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container" th:replace="~{fragments/header::header}">
</div>
<form method="POST" th:action="@{/login}" th:object="${user}">
    <input type="text" placeholder="username" th:field="*{username}">
    <span class="validationError"
          th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">name</span><br>
    <input type="password" placeholder="password" th:field="*{password}">
    <span class="validationError"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">name</span><br>
    <input type="submit" value="Sign in"><br>
    <p class="error" th:text="${error}"></p><br>

</form>

</body>
</html>