<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="style.css">

</head>

</body>
<div class="productHeader" th:replace="~{fragments/header::header}">
</div>

<form method="POST" th:action="@{/product}" th:object="${product}">
    <p>Name<input type="text" placeholder="Name" th:field="*{name}">
    <p>KCAL<input type="text" placeholder="KCL" th:field="*{kcal}">
        <span class="validationError"
              th:if="${#fields.hasErrors('kcal')}"
              th:errors="*{kcal}">carbohydrates</span><br><br>

    <p>Fat<input type="text" placeholder="Fat" th:field="*{fat}">
        <span class="validationError"
              th:if="${#fields.hasErrors('fat')}"
              th:errors="*{fat}">carbohydrates</span><br>

    <p>Protein<input type="text" placeholder="Protein" th:field="*{protein}">
        <span class="validationError"
              th:if="${#fields.hasErrors('protein')}"
              th:errors="*{protein}">carbohydrates</span><br>

    <p>Carbohydrates<input type="text" placeholder="Carbohydrates" th:field="*{carbohydrates}">
        <span class="validationError"
              th:if="${#fields.hasErrors('carbohydrates')}"
              th:errors="*{carbohydrates}">carbohydrates</span><br>
        <input type="submit" value="Add product"><br>
</form>

<!--<div>-->

<!--    <div class="flex1">-->
<!--        <label for="calories"><p>KCAL:</p></label><br>-->
<!--        &lt;!&ndash;        <progress id="calories" th:attr="value = ${savedProduct.kcl}" max="100"></progress>&ndash;&gt;-->
<!--        <progress id="calories" th:value="${product.kcal}" max="100"></progress>-->
<!--        <span th:text="${product.kcal} + '%'">&nbsp;</span>-->
<!--    </div>-->

<!--    <div class="flex1">-->
<!--        <label for="fat"><p>Fat: </p></label>-->
<!--        <progress id="fat" th:value="${product.fat}" name="fat" max="100"></progress>-->
<!--        <span th:text="${product.fat} + '%'">&nbsp;</span>-->
<!--    </div>-->

<!--    <div class="flex1">-->
<!--        <label for="protein"><p>Protein: </p></label>-->
<!--        <progress id="protein" th:value="${product.protein}" max="100" name="protein"></progress>-->
<!--        <span th:text="${product.protein} + '%'">&nbsp;</span>-->
<!--    </div>-->

<!--    <div class="flex1">-->
<!--        <label for="carbohydrates"><p>carbohydrates: </p></label>-->
<!--        <progress id="carbohydrates" th:value="${product.carbohydrates}" max="100" name="carbohydrates"></progress>-->
<!--        <span th:text="${product.carbohydrates} + '%'">&nbsp;</span>-->
<!--    </div>-->
<!--</div>-->
<div>

    <table>
        <thead>
        <tr>
            <th colspan="1">Id</th>
            <th colspan="1">name</th>
            <th colspan="1">kcal</th>
            <th colspan="1">Fat</th>
            <th colspan="1">carbohydrates</th>
            <th colspan="1">protein</th>
            <th colspan="1">Delete</th>
            <th colspan="1">ADD MEAL</th>
        </tr>

        </thead>


        <div class="checkbox">
            <span th:if="!${listProd.isEmpty()}">

            <tr th:each="prod:${listProd}">

                <td th:text="${prod.id}">The table body</td>
                <td th:text="${prod.name}">The table body</td>
                <td th:text="${prod.kcal}">The table body</td>
                <td th:text="${prod.fat}">The table body</td>
                <td th:text="${prod.carbohydrates}">The table body</td>
                <td th:text="${prod.protein}">The table body</td>


                                <form method="post" th:object="${prod}" th:action="@{/product/deleteProd}">
                                    <input type="hidden" th:value="*{id}" name="id"/>
                                    <input type="hidden" th:value="${meal.mealid}" name="mealid"/>
                                    <td><input type="submit" value="DELETE"></td>
                                </form>
                                <form method="post" th:object="${prod}" th:action="@{/product/addMeal}">
                                    <td><input type="text" th:field="${meal.count}"/>

                                        <input type="hidden" th:value="${prod.id}" name="id"/>
                                        <input type="submit" value="ADD"/></td>
                                </form>


                </tr>

                </span>
        </div>
    </table>
    <span th:unless="!${listProd.isEmpty()}">List is empty</span>
</div>


</body>
</html>