<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <title>Settings</title>
</head>
<body>
<div class="productHeader" th:replace="~{fragments/header::header}">
</div>
<!--<form action="@{/settings}">-->
<!--    <input type="text">-->
<!--</form>-->
<form class="data" method="POST" th:action="@{/settings/changeBMR}" th:object="${user}">
    <h1>Change BMR</h1>
    <p>AGE<input th:unless="!*{age} == '0'" type="text" placeholder="age" th:name="age">
        <span class="validationError"
              th:if="${#fields.hasErrors('age')}"
              th:errors="*{age}">name</span><br>
    <p>HEIGHT<input th:unless="!*{height} == '0'" type="text" placeholder="height" th:name="height">
        <span class="validationError"
              th:if="${#fields.hasErrors('height')}"
              th:errors="*{height}">name</span><br><br>
    <p>WEIGHT<input th:unless="!*{weight} == '0'" type="text" placeholder="weight" th:name="weight">
        <span class="validationError"
              th:if="${#fields.hasErrors('weight')}"
              th:errors="*{weight}">name</span><br>
        <input type="submit" value="SAVE BMR">
</form>
<form class="data" method="POST" th:action="@{/settings/changePassword}" th:object="${user}">
    <h1>Change password</h1>
    <p>Username<input th:unless="!*{username} == '0'" type="text" placeholder="Username" th:name="Username">
    <p>Password<input th:unless="!*{password} == '0'" type="text" placeholder="New Password" th:name="password"><br>
    <p class="error" th:text="${error}"></p>
    <input type="submit" value="CHANGE PASSWORD">
</form>

</body>
</html>