<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container" th:replace="~{fragments/header::header}">
</div>
<form th:action="@{/sign-up}" th:object="${user}" method="post">
    <input type="text" th:field="*{username}" id="name" placeholder="Name">
    <span class="validationError"
          th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">name</span><br>
    <input type="password" th:field="*{password}" id="password" placeholder="password">
    <span class="validationError"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">name</span><br>
    <p class="error" th:text="${error}"></p>
    <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>-->
    <input type="submit" value="Sign Up"><br>
</form>

</body>
</html>