<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="container" th:replace="~{fragments/header::header}">
</div>
<a th:object="${user}"></a>
<a th:text="*{username}"></a>
</body>
</html>